textarea {
    min-height: 400px;
}

p {
    white-space: pre-line; /*ensure newlines properly displayed for paragraph tags (ie. email body)*/
}

.email {
    padding: 20px;
    margin-bottom: 10px;
    border-color: black;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
}

.open {
    float: right;
}

.archive {
    float: right;
}

.unread {
    background-color: white;
}

.read {
    background-color: grey;
}